<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Twitter Logo"
    src="assets/logo.png"
  />
  <h3> Twitter Spam Data Analysis </h3>
</div>

<div>
    <div style="margin-top: 100px;" *ngIf="!showSecond && !showThird && !showFourth" class="content" role="main"> 
      <div>
          <google-chart #chart
          [title]="title"
          [type]="type"
          [data]="treeMapData"
          [columns]="columnNames"
          [options]="options"
          [width]="width"
          [height]="height"
          (select)="onSelect($event)">
        </google-chart>
      </div>
      <div>
        <button class="mt-2" (click)="OpenPopup()" mat-raised-button color="primary">Open D3</button>
      </div>
  </div>

  <div style="margin-top: 100px;" *ngIf="showSecond && !showThird && !showFourth">
       <div style="margin-left: 300px"><h1>Tweet distribution by countries for {{ currentDomain }}(Category)</h1></div>
          <google-chart style="margin-left: 150px" #geo
          [title]="geoTitle"
          [type]="type"
          [data]="tweetsByLocation"
          [columns]="geoColNames"
          [options]="geoOptions"
          [width]="geoWidth"
          [height]="geoHeight"
          (select)="onGeoSelect($event)">
        </google-chart>
      <button style="left: 30%;  margin-top: 20px; margin-right: 20px;" (click)="getNoLocData()" mat-raised-button color="primary">Checkout Tweets with No Location</button>
      <button style="left: 50%" (click)="goBackToFirst()" mat-raised-button color="primary"> Go Back</button>
  </div>

  <div  style="margin-top: 100px;" *ngIf="showThird && !showFourth">
    
  <mat-grid-list cols="2" rowHeight="1:1">  
    <mat-grid-tile style="margin: 150px;">
        <div>
          <google-chart #chart3
            [title]="title"
            [type]="type"
            [data]="tableData"
            [columns]="tableCols"
            [options]="tableOptions"
            [width]="tWidth"
            [height]="tHeight"
            (select)="onTableSelect($event)">
        </google-chart>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
          <google-chart #chart3
            [title]="title"
            [type]="type2"
            [data]="scatterData"
            [columns]="scatterCols"
            [options]="scatterOptions"
            [width]="sWidth"
            [height]="sHeight"
            (select)="onScatterPointSelect($event)">
          </google-chart>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
    <button style="margin-left: 600px; margin-top: 5px;" (click)="goBackToSecond()" mat-raised-button color="primary"> Go Back to Second</button>
</div>
    <div  style="margin-top: 70px; margin-left: 100px;" *ngIf="showFourth">
      <div>
        <div style="margin-left: 400px; margin-bottom: 40px;"><h1>Bot Rating for the User</h1></div>
          <google-chart #chart4
          [title]="title"
          [type]="type"
          [data]="gaugeData"
          [columns]="gaugeCols"
          [options]="gaugeOptions">
        </google-chart>
      </div>
      <div style="margin-top: 45px; margin-left: 300px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
      <button style="margin-top: 20px; margin-left: 450px;" (click)="goBackToThird()" mat-raised-button color="primary"> Go Back to Third</button>
  </div>
</div>

<router-outlet></router-outlet>
